Title: {{ title }}
Slug: {{ slug }}
Summary: {{ summary }}
Category: {{ category }}
Tags: {{ tags }}
URL: {{ url }}
Save_As: {{ save_as }}
Date: {{ date }}
Modified: {{ modified }}
{% if preview != '' %}Preview: {{ preview }}{% endif %}
{% if status != '' %}Status: {{ status }}{% endif %}


{{ content }}
